{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center vh-100">
            {% include 'components/forms/process_search_form.html' %}
        </div>
        {% if error %}
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 11; max-width: 500px;">
                <div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert">
                    ¡Por favor ingresa los datos de una manera correcta!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 11; max-width: 500px;">
                <div class="alert alert-danger alert-dismissible fade show fw-bold" role="alert">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}